
.flexAllCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{

    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 900;
}
.title{
    color: white;
    margin-right: auto;
}
.percantage {
    color: hsla(0,0%,100%,.3);
}
.pageBarCont{
    background-color: #2b3040;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px
}
.btn{
    margin: 14px 10px 0;
}
.inputLabelCont{
    position: relative;
    padding: 11px;
    margin-top: 7px;
    border-radius: 4px;
    transition: all .13333333s linear;
    border: 1px solid hsla(0,0%,100%,.3);

}
.input-label{
    display: block;
    padding: 0 4px;
    position: absolute;
    left: 10px;
    top: -9px;
    color:  hsla(0,0%,100%,.3);
    background-color: #2b3040;
    border-radius: 4px;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
   

}
.invesBtn{
    padding-top: 1px;
}
.inputVal{
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 2px 4px;
    margin: 0 6px;
    width: 50px;
    color: #353a4d;
    background: none;
    border: none;
    font-size: 16px;
    line-height: 20px;
}
.Minus button{
    display: inline-block;
    width: 24px;
    height: 24px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: #fff;
    background-color: hsla(0,0%,100%,.1);
    border-radius: 50%;
    border: none;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    font-size: 16px;
    line-height: 20px;
    
}
.plus button{
    display: inline-block;
    width: 24px;
    height: 24px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: #fff;
    background-color: hsla(0,0%,100%,.1);
    border-radius: 50%;
    border: none;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    font-size: 16px;
    line-height: 20px;
}
.payoutCont{
    margin: 10px;
}
.dealButton{
    color: white !important;
    width: 100%;
    padding: 12px 20px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-decoration: none;
    white-space: nowrap;
    user-select: none;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    -webkit-transition-property: color,background-color;
    -o-transition-property: color,background-color;
    transition-property: color,background-color;
    color: #fff;
    background-color: rgba(255, 255, 255/10%);
}
.payoutAmout {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
}