.featured{
    width: 30%;
    padding-top: -1rem ;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    /* background-color: white !important; */
    
    
}

.featuredItem{
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 10px 5px 30px 4px rgba(0,0,0,0.14); 
    box-shadow: 0px 5px 10px -7px #000000, 10px 5px 30px 4px rgba(0,0,0,0.14);
    background-color: rgba(128, 128, 128, 0.233) !important;

}
.featuredTitle{
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;

    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.featuredMoneyContainer{
    display: flex;
    margin: 10px 0px;
    align-items: center;
}
.featureMoney{
    /* font-size: 30px; */
    font-weight: 600;
    color: #03a5d7;
    margin-left: 50px;
}
.featureMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: #03a5d7;
}
.featuredicon{
    font-size: 20px;
    margin-left: -10px;
    color: green;
}
.featuredicon.negative{
    margin-left: -10px;
    color: red;
}

.btn{
    cursor:pointer;
    color: #fff;
    font-weight: 600;
}
.anc{
    cursor:pointer;
    color: #041738;
    font-weight: bold;
    font-size: 15px;
  
}
.anc:hover{
    color: #041738;
}
.table{
    width: 450px;
    box-shadow: 0px 10px 13px -7px #000000, 15px 10px 41px 4px rgba(0,0,0,0.14);
}
.table, td, th{
    padding:20px;
    border: 1px solid lightgray;
    border-collapse: collapse;
    text-align:center;
}
.td{
    font-size: 18px;
}
.th{
    background-color: #041738;
    color: #ffffff !important;
}

.slider {
     z-index: 9;
     margin-top: 20rem;
     margin-left: 5rem;
     position: absolute;
     /* background-color: rgba(213, 223, 255, 0.171); */
}